<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikaas.suyashshukla.qin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.nikaas.suyashshukla.qin.PDFActivity"></activity>
        <activity android:name="com.nikaas.suyashshukla.qin.MainActivity"></activity>
        <activity android:name="com.nikaas.suyashshukla.qin.DashboardActivity" />
        <activity android:name="com.nikaas.suyashshukla.qin.AttendanceActivity" >

        </activity>
        <activity android:name="com.nikaas.suyashshukla.qin.CheckActivity" />
        <activity android:name="com.nikaas.suyashshukla.qin.FormActivity" />
        <activity android:name="com.nikaas.suyashshukla.qin.OnBoarderActivity"/>
        <activity android:name="com.nikaas.suyashshukla.qin.ReferenceActivity" />
        <activity android:name="com.nikaas.suyashshukla.qin.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
    </application>

</manifest>